* {
    margin: 0;
}
.main {
    margin: 40vh 0 0 0;
    white-space: nowrap;
}
.convert-button, .text-field {
    resize: none;
    max-width: 1fr;
    outline: none;
    text-align: center;
    font-size: 2vh;
    border-radius: 10px;
    height: 10vh;
    background-color: slateblue;
    color: white;
    border: 0;
    transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
}
.convert-button:hover {
    background-color: darkslateblue;
}
.convert-button:active {
    background-color: white;
    color: black;
}
#text-field-1 {
    margin: 0 0 0 20%;
    width: 20%;
}
#text-field-2 {
    width: 5%;
}
.convert-button {
    width: 10%;
}
#text-field-3 {
    width: 5%;
}
#text-field-4 {
    width: 20%;
}